@media (max-width: 57em) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 20fr 20fr;
    gap: 0.5rem;
    padding: 1rem 2rem;
  }

  .hero-text {
    gap: 1rem;
  }
  .user-image {
    max-width: 5%;
  }
  .hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: end;
    padding: 1rem 1rem;
  }
  .main-image {
    max-width: 40%;
  }
  .navigation {
    opacity: 0;
  }
  .header {
    padding: 1rem 1rem 0 1rem;
  }
  .heading-secondary {
    border-top: 0.3rem solid #95a4e9;
    padding: 0.5rem 0;
    font-size: 2.8rem;
    margin-top: 3rem;
    margin-bottom: 1.3rem;
  }
  .section-hero {
    height: 100%;
  }
  .icon-card {
    width: 4rem;
    height: 4rem;
  }
  .card-title {
    font-size: 1.8rem;
    color: #495057;
  }
  .card-description {
    font-size: 1.3rem;
    color: #475569;
  }
  .cta-card {
    font-size: 1.4em;
    gap: 0.2rem;
    transition: all 1s;
  }
  .logo {
    height: 4rem;
    margin-top: 0.3rem;
  }
}
