/* 
maincolor: old one:#b197fc
MAIN COLOR NEW:#95a4e9;
tint color:#f3f0ff
icon color:#5f3dc4 
background-color:#e8e0fe
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Rubik", serif;
}
body {
  background-color: whitesmoke;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0.4rem;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  height: 1rem;
  background: gray;
}
.header {
  /* margin-top: 1rem; */
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 2.5rem;
  margin: 0 auto;
  background-color: white;
  /* box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.356); */
}
.svgandtext {
  display: flex;
}
.icon {
  width: 2.3rem;
  height: 2.9rem;
  fill: #95a4e9;
}
.main-nav {
  display: flex;
  gap: 1.9rem;
  padding: 1rem 0.5rem;
  list-style: none;
  font-weight: 500;
  font-size: 1.8rem;
}
.nav-links {
  padding: 1rem 0.5rem;
}
.nav-links:link,
.nav-links:visited {
  text-decoration: none;
  color: #adb5bd;
}
.nav-links:hover {
  border-radius: 0.9rem;
  background-color: #f3f0ff;
  color: black;
}
.download:link {
  /* background-color: #9f88e3; */
  background-color: #95a4e9;
  border-radius: 0.9rem;
  padding: 1rem 1.5rem;
  color: white;
}
#download {
  transition: all 0.3s;
  color: white;
  box-shadow: 0 0.2rem 0.4rem 0 #95a4e9;
}
#download:hover {
  background-color: #d0bfff;
  background-color: #aab6ed;
  color: black;
}

.section-hero {
  height: 92vh;
}
.container {
  margin: 0 auto;
  padding: 2rem 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
.hero-text {
  align-self: center;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.hero-image {
  justify-self: center;
  padding: 0 12rem;
}
.main-text {
  font-size: 4.7rem;
  font-weight: 900;
  color: #495057;
}
.main-image {
  max-width: 100%;
}
.notification {
  display: inline-block;
  color: #b197fc;
  color: #95a4e9;
  font-size: 5.2rem;
  font-weight: 1000;
}
.description {
  color: #adb5bd;
  font-size: 1.2rem;
  line-height: 1.5;
}
.logo-text {
  color: #95a4e9;
  font-size: 3.2rem;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button-container {
  /* background-color: #82c91e; */
  display: flex;
  gap: 3rem;
}
.main-btn {
  max-width: 30%;
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: #95a4e9;
  font-size: 1.8rem;
  font-weight: 900;
  justify-self: flex-start;
  border-radius: 1rem;
  box-shadow: 0.4rem 0.5rem 0.2rem 0.1rem #cad2f4;
  color: #495057;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.main-btn:hover {
  color: white;
  stroke: white;
  box-shadow: 0.1rem 0.5rem 0.2rem #cad2f4;
}
.reviews-btn {
  max-width: 26%;
  text-decoration: none;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1.4rem;
  font-weight: 900;
  justify-self: flex-start;
  border-radius: 1rem;
  background-color: #dee2e6;
  color: #868e96;
  transition: all 0.8s;
  align-self: center;
}
.reviews-btn:hover {
  color: #343a40;
}

.user-images-text {
  display: flex;
  align-items: center;
  padding: 1.5rem 1rem;
}
.user-image {
  border: 0.3rem solid white;
  max-width: 7%;
  border-radius: 100%;
  margin-left: -0.8rem;
}
.Active-users {
  padding-left: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #9999;
  color: #adb5bd;
}
.users-count {
  color: #82c91e;
  margin-right: 0.7rem;
}
.icon-notification {
  width: 3.8rem;
  height: 3.8rem;
  color: #95a4e9;
}
.section-usage {
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-secondary {
  border-top: 0.3rem solid #95a4e9;
  padding: 1.5rem 0;
  font-size: 3rem;
  margin-bottom: 3rem;
  color: #495057;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  align-content: center;
  padding: 2rem 8rem;
  gap: 2rem;
}
.card {
  /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 2rem;
  padding: 4rem;
  gap: 2rem;
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.221);
  transition: all 4s;
}
.card-title {
  font-size: 2rem;
  color: #495057;
}
.card-description {
  font-size: 1.5rem;
  color: #475569;
}
.icon-card {
  width: 5rem;
  height: 5rem;
  color: rgba(255, 0, 0, 0.489);
}
.c-green {
  color: #15803d;
}
.c-dblue {
  color: #1d4ed8;
}
.cta-card {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.6em;
  color: #475569;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  transition: all 2s;
}
.cta-card:hover {
  color: #1d4ed8;
}
.r-arrow {
  width: 2rem;
  height: 2rem;
}
.section-footer {
  height: 30vh;
  background-color: #e5e7eb;
  display: flex;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
  gap: 3rem;
}
.footer-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #495057;
}
.footer-desc {
  font-size: 1.5rem;
  text-align: center;
}
.links-icons-container {
  display: flex;
  gap: 2rem;
  cursor: pointer;
}
.icon-footer {
  height: 3rem;
  width: 3rem;
  color: #868e96;
}
.nm-footer {
  color: #95a4e9;
  font-size: 1.7rem;
  cursor: pointer;
}
